<nav class="#33691e light-green darken-4">
  <div class="nav-wrapper container">
    
    <a href="/dashboard" class="brand-logo center">PlantBabe</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large"
    ><i class="fas fa-bars"></i></a>
    <ul class="sidenav #33691e light-green darken-4" id="mobile-demo">

      
      <li><a href="/plants">Public Plant collections</a></li>
      <li><a href="/dashboard">Dashboard</a></li>
      <li><a href="/auth/logout">Logout</a></li>

    </ul>
  </div>
</nav>