<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/plantbabe/public/images/default.png" type="image/gif" sizes="16x16">


<!-- HTML Meta Tags -->
<title>PlantBabe login</title>
<meta name="description" content="">

<!-- Google / Search Engine Tags -->
<meta itemprop="name" content="PlantBabe login">
<meta itemprop="description" content="">
<meta itemprop="image" content="http://plantbabe.herokuapp.com/../images/plantBabeScreenshot.png">

<!-- Facebook Meta Tags -->
<meta property="og:url" content="http://plantbabe.herokuapp.com">
<meta property="og:type" content="website">
<meta property="og:title" content="PlantBabe login">
<meta property="og:description" content="">
<meta property="og:image" content="../images/plantBabeScreenshot.png">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="PlantBabe login">
<meta name="twitter:description" content="">
<meta name="twitter:image" content="../images/plantBabeScreenshot.png">

    
</head>

<body class="authPage">
    <div class="container login-container">
        <div class="card">
            <div class="card-content">
                {{{body}}}
                
            </div>
        </div>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>