
<div class="section bannerimage">
    <img src="/images/PlantBabeBanner.png" alt="">
    <p class="lead"></p>
    <h5>PlantBabe is a platform for sharing and organizing your plant collection</h5>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn red darken-1 hoverable">
        <i class="fab fa-google left"> Login with google</i>
    </a>

</div>
<div class="section">
    <a href="/auth/twitter" class="btn #2196f3 blue darken-1 hoverable">
        <i class="fab fa-twitter left"> Login with Twitter</i>
    </a>
</div>