p {
  margin: 10px 0 !important;
}

body {
  color: black;
}

.login-container {
  width: 400px;
  margin-top: 50px;
  text-align: center;
}

.fa-small {
  font-size: 16px !important;
}

.btn-float {
  float: left;
  margin-right: 10px;
}

.img-small {
  width: 180px;
}

.materialboxed {
  cursor: default !important;
}

.sidenav {
  background-image: url("../images/sidenav3.jpg");
  background-size: 300px;
  background-repeat: repeat-y;
}

.sidenavarea > a {
  font-size: 20px !important;
  color: white !important;
}
