p {
  margin: 10px 0 !important;
}

body {
  color: black;
}

.login-container {
  width: 400px;
  margin-top: 50px;
  text-align: center;
}

.fa-small {
  font-size: 16px !important;
}

.btn-float {
  float: left;
  margin-right: 10px;
}

.img-small {
  width: 180px;
}

.materialboxed {
  cursor: default !important;
}

.sidenav {
  background-image: url("../images/sidenav3.jpg");
  background-size: 300px;
  background-repeat: repeat-y;
}

.brand-logo center{
  color:black;
}

.brand-logo{
  color: black !important;
  background-color: rgba(255,255,255,0.28) !important;
}

.topnav{
  color: black;
}

.sidenavarea > a {
  font-size: 20px !important;
  color: white !important;
}

.header{
  background-image: url('../images/topnav4withopacity.png');
  background-size: 100px;
  background-repeat: repeat-x;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}


.fa-seedling{
  color: black;
  font-size: 69px !important;
}